// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e6e6e6;
}

footer {
  text-align: center;
  margin: 10px;
}

.main {
  background-color: #fff;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  padding: 10px;

  p {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}
